.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Rubik', sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(135deg,
      rgba(255, 255, 255, 1) 0%,
      rgb(80, 255, 56) 50%,
      rgba(29, 253, 242, 1) 50%,
      rgba(65, 34, 255, 1) 100%);
}